body{
    background-color: rgb(232, 241, 250);
}

.container{
    background-color: snow;
    border-radius: 50px;
}

.yellow{
    color: #FFCD06;
}

.search{
    border-radius: 200px;
}

.user{
    background-color: slateblue;
    font-size: 30px;
    border-radius: 200px;
}

.img{
    width: 100%;
}

.img:hover{
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.cover{
    margin-bottom: 5px;  
}

.name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    margin-top: 5px;
    text-transform: capitalize;
}

.album{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 0px;
    margin-top: -14px;
    text-transform: capitalize;
}